<li class="list-group-item d-flex justify-content-between align-items-center">
	<%= link_to recipe.title, recipe_url(recipe.id), target: "_blank" %>
  <div class="image-parent">
    <%= image_tag recipe.photo.url(width: 480, height: 320), class: 'img-responsive' %>
  </div>
</li>