<div class="row justify-content-md-center">
  <div class="col-12 col-sm-10 col-lg-25">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <h3 class="text-muted">List Recipes with Images</h3>
      </li>
      <%= render partial: 'recipe', collection: @recipes, as: :recipe %>
    </ul>
  </div>
</div>