<% if @recipe %>
  <h1 class="my-4">
    <small><%= @recipe.title %></small>
  </h1>
  <div class="row">
    <div class="col-md-8">
      <%= image_tag @recipe.image, class: 'img-fluid' %>
    </div>
    <div class="col-md-4">
      <h3 class="my-3">Recipe Description</h3>
      <p><%= @recipe.description %></p>
      <h3 class="my-3">Recipe Chef Details</h3>
      <ul>
        <li>Chef Name: <%= @recipe.chef_name %></li>
      </ul>
      <h3 class="my-3">Recipe Tags</h3>
      <ul>
        <% @recipe.tags.each do |tag| %>
          <li><span class="badge badge-secondary"><%= tag.name %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>